django == 5.0.1
streamlit
pandas
psycopg2-binary
djangorestframework
celery
redis
flower
requests
markdown
pytest
pytest-django
xmltodict
lxml
python-dotenv
django-encrypted-model-fields
django-filter
djangorestframework-simplejwt
leafmap
shapely
geopandas

# development tools
ruff