-e .[test]
--extra-index-url https://packages.lizard.net

# TODO: dependencies
pytest-django
python-dotenv
whitenoise

# For the jupyter notebook example?
markdown



# development tools
coverage
ruff
