{% load i18n %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{% translate "Welcome" %}</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="{% static 'brostar.css' %}">
</head>

<body>
    <div class="w-lg mt-30 mx-auto p-4">
        <form method="post">
            {% csrf_token %}
            <fieldset class="fieldset border p-4 text-base rounded-box">
                <legend class="fieldset-legend p-1">{% translate "Welcome to" %} {{ application }}</legend>
                <div class="mb-1">
                    <input class="radio" type="radio" id="new_user" name="type_of_user" value="new" checked />
                    <label class="label ml-1" for="new_user">{% translate "I am a new user and I want to sign up." %}</label>
                </div>
                <div>
                    <input class="radio" type="radio" id="existing_user" name="type_of_user" value="existing" />
                    <label class="label ml-1" for="existing_user">{% translate "I already have an account and want to sign in." %}</label>
                </div>
            </fieldset>
            <button class="btn btn-outline mt-3">{% translate "Next" %}</button>
        </form>
    </div>
</body>

</html> 
