/* Main Styles */
body {
    background-color: #AEB9AA;
    font-family: 'Matangi';
}

p {
    color: black;
    font-size: 16;
    font-family: "Poppins", sans-serif;
}

.background-circle {
    position: fixed;
    top: 75%;
    left: 75%;
    width: 100%; /* Large enough to cover the viewport */
    height: 100%; /* Large enough to cover the viewport */
    background-color: white;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: -1; /* Ensure it's behind other content */
}

.card {
    height: 90vh; /* Full viewport height */
    width: 90vw; /* Full width */
    align-items: center;
    justify-content: center;
    margin-left: 5vw;
    margin-top: 3vh;
    border: transparent;
}

.card-header {
    background-color: white;
    border-bottom: solid 1px transparent;
    text-align: center;
    height: 100px;
    width: 100%; /* Full width */
    margin-bottom: 25px;
    margin-top: 15px;
    align-items: center;
    justify-content: center;
}

.card-body {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    max-width: 70vw;
    height: 80vh; /* Full viewport height minus header */
    margin-bottom: 20vh;
}

.card-body .btn {
    flex: 1 1 calc(50% - 1rem); /* two columns */
    padding: 1rem;
    cursor: pointer;
    width: 75vw; /* Fixed width for consistency */
    height: 15vh;
    background-color: #E8EEE6;
    border-color: transparent;
    border-radius: 5px;
    color: #DA5D2F;
}

.btn.btn-img{
    padding: 1rem;
    cursor: pointer;
    width: 125px; /* Fixed width for consistency */
    height: 50px;
    background-color: #E8EEE6;
    border-color: transparent;
    border-radius: 5px;
    color: #DA5D2F;
}

.btn.btn-img.left{
    left: 10px;
}

.btn.btn-img.right{
    right: 10px;
}

.btn.btn-secondary.w-100 {
    background-color: lightgrey;
    border: solid 1px black;
    border-radius: transparent;
    color: black;
}

.btn.btn-return {
    background-color: white;
    border: solid 1px #DA5D2F;
    width: 125px; /* Fixed width for consistency */
    height: 40px;
    left: 10vw;
    bottom: 5vh;
    border-radius: 15px;
    color: #DA5D2F;
    position: absolute;
    font-family: "Poppins", sans-serif;
}

.card-body .btn:hover {
    background-color: #c4c9c2(155, 186, 197);
    box-shadow: #6c757d 0px 4px 8px;
}


/* Modal styling */
.modal-content {
    width: 500px;
    height: 400px;
    font-family: "Poppins", sans-serif;
}

.scrollable-content {
overflow-y: auto;
overflow-x: hidden;
}

/* Optional: smooth scrolling and hide scrollbar for a cleaner look */
.scrollable-content::-webkit-scrollbar {
    width: 6px;
}

.scrollable-content::-webkit-scrollbar-thumb {
background-color: rgba(0, 0, 0, 0.3);
border-radius: 3px;
}

.modal-content .btn.btn-register {
    background: linear-gradient(#F29C1F, #DA5D2F);
    width: 110px; /* Fixed width for consistency */
    height: 40px;
    bottom: 10px;
    right: 10px;
    border-radius: 30px;
    border: solid 1px #DA5D2F;
    color: #ffffff;
    position: absolute;
    font-family: "Poppins", sans-serif;
}

.modal-content .btn.btn-return {
    background-color: white;
    border: solid 1px #DA5D2F;
    width: 110px; /* Fixed width for consistency */
    height: 40px;
    bottom: 10px;
    left: 10px;
    border-radius: 30px;
    color: #DA5D2F;
    position: absolute;
    font-family: "Poppins", sans-serif;
}

.modal-content .btn.btn-outline-primary {
    background-color: white;
    border: transparent;
    height: 40px;
    bottom: 10px;
    left: 250px - calc(width/2);
    color: #9dc67d;
    position: absolute;
    font-family: "Poppins", sans-serif;
}

.modal-header {
    border-bottom: solid 1px #E8EEE6;
}

.modal-footer {
    border-top: solid 0px #E8EEE6;
}

.modal-content b,
.modal-content strong {
    color: #DA5D2F;
}


/* Form styling */
.form-text {
    color: #000000;
    font-size: 0.85rem;
}

#bottom-logo {
    position: absolute;
    bottom: 5vh;
    right: calc(50% - 50px);
    width: 100px;   /* adjust as needed */
    opacity: 0.8;   /* optional */
}

.inline-logo {
  height: 2.5em; /* smaller height */
  vertical-align: middle;
  margin: 0 0.25em;
}
